@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
/*font-family: 'Montserrat', sans-serif;*/ /*p*/
 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
 
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
/*font-family: 'Lora', serif;*/ /*definition*/

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

main{
   overflow-x: hidden;
}

body, html{
   overflow-x: hidden;
}
 
body{
   font-family: 'Montserrat', sans-serif;
}
 
h1, h2, h3{
   font-family: 'Poppins', sans-serif;
}

h3{
   font-size: 1.3rem;
   padding-bottom: 2px;
}
 
p{
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
   line-height: 2.2rem;
}

.p-links{
   color: #50C7C7;
}

.p-links:hover{
   color: #84e9cb;
}

 
ul{
   list-style: none;
}
 
a{
   text-decoration: none;
}
 
header{
   position: sticky;
   top: 0px;
   width: 100%;
   z-index: 1000;
}
 
.container{
   max-width: 80rem;
   padding: 0 2rem;
   margin: 0 auto;
   display: flex;
   position: relative;
   background-color: white;
}
 
/*wisa logo*/
.logo-container{
   flex: 1;
   display: flex;
   align-items: center;
}
 
.nav-btn{
   flex: 3;
   display: flex;
}
 
.nav-links{
   flex: 2;
}
 
/*contact icons*/
.log-sign{
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}
 
.log-sign a{
   font-size: 1.4rem;
   color: black;
   padding: 0.6rem;
}
 
.log-sign a:hover{
   color: #51dbc9;
}
 
.nav-links > ul{
   display: flex;
   justify-content: center;
   align-items: center;
}
 
.nav-link{
   position: relative;
}
 
.nav-link > a{
   line-height: 4rem;
   color: black;
   text-transform: uppercase;
   font-weight: 600;
   padding: 0.5rem 2rem;
   letter-spacing: 0.5px;
   font-size: .95rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: .5s;
}
 
.nav-link > a > i{
   margin-left: .2rem;
}
 
.nav-link:hover > a{
   transform: scale(1.05); /* enlarge when hover */
}
 
.dropdown{
   position: absolute;
   top: 100%;
   left: 0;
   transform: translateY(10px);
   opacity: 0;
   pointer-events: none;
   transition: .3s;
   width: 14rem;
}
 
.dropdown ul{
   position: relative;
}
 
.dropdown-link > a{
   display: flex;
   background-color: white;
   color: black;
   padding: .7rem 1rem;
   font-size: 0.95rem;
   align-items: center;
   justify-content: space-between;
   transition: .3s;
   font-weight: 600;
   border-left: 1px solid #efefef;
   border-right: 1px solid #efefef;
}

.dropdown-link:first-child > a{
   border-radius: 10px 10px 0 0;
   border-top: 1px solid #efefef;
}

.dropdown-link:last-of-type > a{
   border-radius: 0 0 10px 10px;
   border-bottom: 1px solid #efefef;
}
 
.dropdown-link:hover > a{
   color: #50C7C7;
}
 
/*
.dropdown-link:not(:nth-last-child(2)){
   border-bottom: 1px solid #efefef;
}
*/
 
.dropdown-link i{
   transform: rotate(-90deg);
}
 
.arrow{
   position: absolute;
   width: 11px;
   height: 11px;
   top: -5.5px;
   left: 32px;
   background-color: #fff;
   transform: rotate(45deg);
   cursor: pointer;
   transition: .3s;
   z-index: -1;
}
 
.dropdown-link:first-child:hover ~ .arrow{
   background-color: #50C7C7;
}
 
.dropdown-link{
   position: relative;
}
 
.dropdown.second{
   top: 0;
   left: 100%;
   padding-left: .8rem;
   cursor: pointer;
   transform: translateX(10px);
}
 
.dropdown.second .arrow{
   top: 10px;
   left: -5.5px;
}
 
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
   transform: translate(0, 0);
   opacity: 1;
   pointer-events: auto;
}
 
/* hamburger style, when squeezed */
 
.hamburger-menu-container{
   flex: 1;
   display: none;
   align-items: center;
   justify-content: flex-end;
}
 
.hamburger-menu{
   width: 2.5rem;
   height: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
 
.hamburger-menu div{
   width: 1.6rem;
   height: 3px;
   border-radius: 3px;
   background-color: black;
   position: relative;
   z-index: 1001;
   transition: .5s;
}
 
.hamburger-menu div:before,
.hamburger-menu div:after{
   content: '';
   position: absolute;
   width: inherit;
   height: inherit;
   background-color: black;
   border-radius: 3px;
   transition: .5s;
}
 
.hamburger-menu div:before{
   transform: translateY(-7px);
}
 
.hamburger-menu div:after{
   transform: translateY(7px);
}
 
#check{
   position: absolute;
   top: 50%;
   right: 1.5rem;
   transform: translateY(-50%);
   width: 2.5rem;
   height: 2.5rem;
   z-index: 90000;
   cursor: pointer;
   opacity: 0;
   display: none;
}
 
#check:checked ~ .hamburger-menu-container .hamburger-menu div{
   background-color: transparent;
}
 
#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
   transform: translateY(0) rotate(-45deg);
}
 
#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
   transform: translateY(0) rotate(45deg);
}
 
main{
   width: 100%;
   margin: auto;
   text-align: center;
}
 
.description, .event-des, .member-des{
   min-width: 70%;
   margin: auto;
   padding: 2rem 1rem;
   text-align: left;
}


.vision-des{
   margin: auto;
}

.home-banner{
   height: 500px;
   width: 800px;
}

.slider{
   display: block;
   width: 100%;
   margin: auto;
}
 
.box-con, .banner-box, .welcome, .videobox, .aboutwisa, .values, .recruit, .roles, .why, .nomination, .events, .event, .members, .exec-branch{
   padding: 2rem 0;
}

.welcome, .values, .members, .recruit, .roles, .why, .nomination, .accordion, .merches{
   width: 70%;
   margin: auto;
}

.exec-branch{
   width: auto;
   justify-content: center;
}

.event{
   width: 70%;
   margin: auto;
}

.vision{
   padding: 4rem 0 3rem 0;
}

.values, .pos{
   text-align: left;
   font-family: 'Lora', serif;
   font-size: 1rem;
}
 
.int{
   color: #51dbc9;
   font-size: 3rem;
}
 
.slider{
   width: 800px;
   height: 530px;
   border-radius: 10px;
   overflow: hidden;
}
 
.slides{
   width: 500%;
   height: 500px;
   display: flex;
}
 
.slides input{
   display: none;
}
 
.slide{
   width: 20%;
   transition: 2s;
}
 
.slide img{
   width: 800px;
   height: 530px;
}
 
/*css for manual slides*/
.nav-manual{
   position: absolute;
   width: 800px;
   margin-top: -40px;
   display: flex;
   justify-content: center;
}
 
.manual-btn{
   border: 2px solid white;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}
 
.manual-btn:not(:last-child){
   margin-right: 40px;
}
 
 
.manual-btn:hover{
   background: white;
}
 
#radio1:checked ~ .first{
   margin-left: 0;
}
 
#radio2:checked ~ .first{
   margin-left: -20%;
}
 
#radio3:checked ~ .first{
   margin-left: -40%;
}
 
/*css for auto nav*/
.nav-auto{
   position: absolute;
   display: flex;
   width: 800px;
   justify-content: center;
   margin-top: 460px;
}
 
.nav-auto div{
   border: 2px solid black;
   padding: 5px;
   border-radius: 10px;
   transition: 1s;
}
 
.nav-auto div:not(:last-child){
   margin-right: 40px;
}
 
#radio1:checked ~ .nav-auto .auto-btn1{
   background: white;
}
 
#radio2:checked ~ .nav-auto .auto-btn2{
   background: white;
}
 
#radio3:checked ~ .nav-auto .auto-btn3{
   background: white;
}
 
footer{
   padding-top: 1.5rem;
   bottom: 0px;
   width: 100%;
   background-color: #111;
   color: white;
}
 
.main-content{
   display: flex;
   font-size: 1.1rem;
   width: 90%;
   margin: auto;
}
 
.main-content .box{
   flex-basis: 50%;
   padding: 10px 20px;
}
 
.box .content{
   margin: 20px 0 0 0;
   position: relative;
}
 
.box .content:before{
   position: absolute;
   content: '';
   top: -10px;
   height: 2px;
   width: 100%;
   background: #1a1a1a;
}
 
.box .content:after{
   position: absolute;
   content: '';
   height: 2px;
   width: 15%;
   background: #51dbc9;
   top: -10px;
}
 
.left .content p{
   text-align: justify;
   font-size: 1.1rem;
}
.left .content .social{
   margin: 20px 0 0 0;
}
 
.left .content .social a{
   margin: 20px 0 0 0;
}
 
.left .content .social a i{
   height: 40px;
   width: 40px;
   color: white;
   line-height: 40px;
   text-align: center;
   font-size: 30px;
}
 
.left .content .social a i:hover{
   color: #51dbc9;
}
 
.center .content .fas{
   font-size: 25px;
   height: 45px;
   width: 45px;
   line-height: 45px;
   text-align: center;
   cursor: pointer;
   color: white;
}
 
.center .content .fas:hover{
   color: #51dbc9;
}
 
.center .content .text{
   padding-left: 10px;
}
 
.right form .text{
   margin-bottom: 2px;
   color: #656565;
}
 
.right form .msg, .right form .email{
   margin-top: 20px;
}
 
.right form input, .right form textarea{
   width: 100%;
   font-size: 1.2rem;
   background: #151515;
   padding-left: 10px;
   height: 35px;
   color: white;
   font-family: 'Montserrat', sans-serif;
}
 
.right form input:focus,
.right form textarea:focus{
   outline-color: #51dbc9;
}
 
.right form .btn{
   margin-top: 10px;
}
 
.right form .btn button{
   height: 40px;
   width: 100%;
   border: none;
   outline: none;
   background: #50C7C7;
   cursor: pointer;
   transition: .2s;
   font-size: 1.1rem;
   color: white;
   font-family: 'Montserrat', sans-serif;
}
 
.right form .btn button:hover{
   background: #000;
}
 
.bottom center{
   padding: 10px;
   color: #656565;
   background: #151515;
   line-height: 10px;
}
 

.logos{
   padding-top: 40px;
}

.logo-con{
   padding: 20px 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 0.8em;
   margin: auto;
 }

 .event, .visions, .members, .exec-branch{
   padding: 20px 0;
   /*justify-content: center;
   align-content: space-between;*/
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   grid-gap: 1.5em;
   margin: auto;
 }
 

 .logo-con img{
      width: 100%;
      height: 100%;
 }

 /*flip cards for events and vision and member start*/

 .flip-card img{
      float: left;
      width:  100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
}

.event-img{
   height: 250px;
}

.member-img img{
   padding: 1.5rem 1.5rem 0 1.5rem;
   height: 280px;
}

.event-des{
   padding: 1.2rem;
}

.event-bg{
   padding: 2rem 2rem 1.5rem;
   text-align: left;
}

.details{
   padding-top: 0.8rem;
}

.details i{
   color: #50C7C7;
}

 .flip-card{
   background-color: transparent;
   width: 490px;
   height: 490px;
   border-radius: 15px;
   perspective: 1000px;
 }

 .vision-card{
   background-color: transparent;
   width: 490px;
   height: 400px;
   perspective: 1000px;
 }

 .vision-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }

 /*vision listed*/
 .support{
   background-image: 
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url(../assets/support.jpg);
 }

 .culture{
   background-image: 
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url(../assets/culture.jpg);
 }

 .welfare{
   background-image: 
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url(../assets/welfare.jpg);
 }

 .contribute{
   background-image: 
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url(../assets/contribute.jpg);
 }

 .community{
   background-image: 
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url(../assets/community.jpg);
 }

 .adventure{
   background-image: 
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url(../assets/adventure.jpg);
 }

 
 /*global starts*/
 .support, .culture, .welfare, .contribute, .community, .adventure{
    width: 100%;
    height: 100%;
    background-size: cover;
 }

 .vision-card-front{
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .vision-card-back{
    text-align: left;
    padding: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .vision-card-back{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 /*global ends*/

 /* This container is needed to position the front and back side */
 /*
 .flip-card-inner, .vision-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 1.2s;
   transform-style: preserve-3d;
 }
*/

.flip-card-inner, .vision-card-inner{
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 1.2s;
   transform-style: preserve-3d;
   cursor: pointer;
}
 /* Do an horizontal flip when you move the mouse over the flip box container */
/*
 .flip-card:hover .flip-card-inner{
   transform: rotateY(180deg);
 }
 
 .vision-card:hover .vision-card-inner{
   transform: rotateY(180deg);
 }
 */

 .flip-card-inner.flipped {
   transform: rotateY(180deg);
 }

 .vision-card-inner.flipped{
    transform: rotateY(180deg);
 }
 
 /* Position the front and back side */
 /*
 .flip-card-front, .flip-card-back, .vision-card-front, .vision-card-back{
   position: absolute;
   border-radius: 15px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari 
   backface-visibility: hidden;
 }
 */

 .flip-card-front, .flip-card-back, .vision-card-front, .vision-card-back{
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   /*overflow: hidden;*/
   border-radius: 15px;
   box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
 }
 
 /* Style the back side */
 .flip-card-back, .vision-card-back{
   transform: rotateY(180deg);
 }

/*flip cards for events end*/


/*button starts*/
.trans-btn{
   background-color: transparent;
   font-family: 'Montserrat', sans-serif;
   display: inline-block;
   padding: 7px 18px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: solid 1.4px;
    border-radius: 18px;
}

.trans-btn:hover{
   background-color: black;
   color: white;
   transition: 1s;
}


/*button ends*/

.logo:hover{
   transition: 1.2s;
   transform: scale(1.1); /* enlarge when hover */
}

.yt-video{
   height: 400px;
   width: 600px;
   margin: auto;
}

.role{
   padding: 2rem 2rem;
   border-radius: 10px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.role:hover{
   transition: 1.2s;
   transform: scale(1.04);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category p{
   font-size: 0.98rem;
   color: rgb(55, 76, 77);
}

/*accordion on vision page starts*/
.accordion{
   padding: 40px 0;
}
.accordion__button{
   display: block;
   width: 100%;
   padding: 15px;
   border: none;
   outline: none;
   cursor: pointer;

   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
   background-color: transparent;
   color: black;
   text-align: left;
   border-bottom: 2px solid #eee;
   transition: background 0.2s;
}

.first{
   border-top: 2px solid #eee;
}

.accordion__button::after{
   content: '\002B'; /*a plus sign*/
   float: right;
   transform: scale(1.9);
}

.accordion__button--active + .accordion__content {display: block;}
.accordion__button--active {
   background: transparent;
   font-weight: 600;
   border-bottom: transparent;
}

.accordion__button--active::after {
   content: '\002D'; /*a minus sign*/
   font-weight: 300;
} 

.accordion__content{
   padding: 20px 15px;
   font-family: 'Montserrat', sans-serif;
   text-align: left;
   border-bottom: 2px solid #eee;
   display: none;
   overflow: auto;
}

.icon{
   width: 55px;
   height: 50px;  
   display: inline-block;
   vertical-align: middle;
   padding-bottom: 5px;
}

.member-des h1{
   text-align: center;
   font-size: 1.70rem;
}

.member-des h3{
   text-align: center;
}

.name-flag{
   height: 50px;
}

.branch{
   width: 490px;
   min-height: 400px;

   text-align: left;
   border-radius: 15px;
   padding: 1rem;
}

.branch h3{
   background-color: #d3faf3;
}

.branch ul, .role ul, .nomination ul{
   list-style: disc;
   padding: 5px;
   margin-left: 20px;

   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
   line-height: 2.2rem;
}

.branch ul li, .role ul li, .nomination ul li{
   display: list-item;
   list-style-type: "◉";
   padding-inline-start: 1ch;
}

/*merch starts*/
.merch img{
   width: 400px;
   height: auto;
}

.merch form{
   padding-top: 10px;
}
/*merch ends*/

/*contact page starts*/
.contact-form h2{
   line-height: 4rem;
}
.contact-form input, .contact-form textarea{
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1rem;
   height: 40px;
   width: 400px;
}

.contact-form textarea{
   height: 300px;
}

.contact-form .btn{
   padding-top: 20px;
}
/*contact page ends*/

.event{
   text-align: center;
}

.flip-card{
   display: inline-block; 
   justify-content: flex-start;
}

.flip-card form{
   padding: 1rem 0;
}

@keyframes animation{
   from{
       opacity: 0;
       transform: translateY(15px);
   }
   to{
       opacity: 1;
       transform: translateY(0px);
   }
}


@media (max-width: 1200px){
   .welcome, .values, .members, .recruit, .roles, .why, .nomination, .accordion, .merches{
      width: 90%;
      margin: auto;
   }
/*
   .event, .visions, .members{
      justify-content: center;
   }*/

   .hamburger-menu-container{
       display: flex;
   }
 
   #check{
       display: block;
   }
 
   .nav-btn{
       position: fixed;
       height: calc(100vh - 3rem);
       top: 3rem;
       left: 0;
       width: 100%;
       background-color: white;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       overflow-x: hidden;
       overflow-y: auto;
       transform: translateX(100%);
       transition: .1s;
   }
 
   #check:checked ~ .nav-btn{
       transform: translateX(0);
   }
 
   #check:checked ~ .nav-btn .nav-link,
   #check:checked ~ .nav-btn .log-sign{
       animation: animation .5s ease forwards var(--i);
   }
 
   .nav-links{
       flex: initial;
       width: 100%;
   }
 
   .nav-links > ul{
       flex-direction: column;
   }
 
   .nav-link{
       width: 100%;
       opacity: 0;
       transform: translateY(15px);
   }
 
   .nav-link > a{
       line-height: 1;
       padding: 1.6rem 2rem;
   }
 
   .nav-link:hover > a{
       transform: scale(1);
       background-color: #F5F5F5;
   }
 
   .dropdown, .dropdown.second{
       position: initial;
       top: initial;
       left: initial;
       transform: initial;
       opacity: 1;
       pointer-events: auto;
       width: 100%;
       padding: 0;
       background-color: black;
       display: none;
   }
  
   .nav-link:hover > .dropdown,
   .dropdown-link:hover > .dropdown{
       display: block;
   }
 
   .nav-link:hover > a > i,
   .dropdown-link:hover > a > i{
       transform: rotate(360deg);
   }
 
   .dropdown-link > a{
       background-color: transparent;
       color: #fff;
       padding: 1.2rem 2rem;
       line-height: 1;
       border: transparent;
   }
 
   .dropdown.second .dropdown-link > a{
       padding: 1.2rem 2rem 1.2rem 3rem;
   }
 
   .dropdown.second .dropdown.second .dropdown-link > a{
       padding: 1.2rem 2rem 1.2rem 4rem;
   }
 
   .dropdown-link:not(:nth-last-child(2)){
       border-bottom: none;
   }
 
   .arrow{
       z-index: 1;
       background-color: black;
       left: 10%;
       transform: scale(1.1) rotate(45deg);
       transition: .5s;
   }
 
   .nav-link:hover .arrow{
       background-color: black;
   }
 
   .dropdown .dropdown .arrow{
       display: none;
   }
 
   .dropdown-link:hover > a{
       background-color: #0D0D0D;
   }
 
   .dropdown-link:first-child:hover ~ .arrow{
       background-color: #0D0D0D;
   }
 
   .nav-link > a > i{
       font-size: 1.1rem;
       transform: rotate(-90deg);
       transition: .7s;
   }
 
   .dropdown i{
       font-size: 1rem;
       transition: .7s;
   }
 
   .log-sign{
       flex: initial;
       width: 100%;
       padding: 1.5rem 1.9rem;
       justify-content: flex-start;
       opacity: 0;
       transform: translateY(15px);
   }
 
   footer{
       position: relative;
       bottom: 0px;
   }

   .slider{
      height: 400px;
      width: 600px;
   }

   .slide img{
      height: 400px;
      width: 600px;
   }
 
   .main-content{
       flex-wrap: wrap;
       flex-direction: column;
   }
 
   .main-content .box{
       margin: 5px 0;
   }

   .yt-video{
      height: 400px;
      width: 600px;
   }

   .home-banner{
      height: 340px;
      width: 550px;
   }
}

@media (max-width: 700px){
   main{
      width: 90%;
      overflow: hidden;
   }

   .event, .visions, .members{
      justify-content: center;
   }

   .slider{
      height: 330px;
      width: 500px;
   }

   .slide img{
      height: 330px;
      width: 500px;
   }

   .yt-video{
      height: 400px;
      width: 600px;
   }
}

   @media (max-width: 480px){
      main{
         width: 90%;
         overflow: hidden;
      }

      .welcome, .values, .members, .recruit, .roles, .why, .nomination, .accordion, .merches{
         width: 100%;
         margin: auto;
      }
   
      .slider{
         height: 233px;
         width: 350px;
      }
   
      .slide img{
         height: 233px;
         width: 350px;
      }

      .yt-video{
         height: 210px;
         width: 320px;
      }

      .home-banner{
         height: 220px;
         width: 350px;
      }
   }